body {
  font-family: Arial, sans-serif;
  margin: 100;
  padding: 1000;
}
header {
  background-color: rgb(216, 61, 61);
  color: #fff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

main {
  padding: 20px;
}

article {
  border: 1px solid #ccc;
  padding: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
